
.sidebar{
    background-color: white;
    position: fixed;
    left:0;
    width: 60px;
    height: 100%;
    transition: 0.5s;
    transition-property: right;
  
  }
  
  .checkbox-input{
    display: none;
  }
  .sidebar a{
    color: #C5C7D3;
    display: block;
    margin-left: 5px;
    width: 100%;
    line-height: 60px;
    font-size: 24px;
    text-decoration: none;
    box-sizing: border-box;
  
  }
  .sidebar a span{
    display: none;
  }
  .main-content .footer-link-text{
    display: none;
  }
  
  .sidebar a .filter-svg-violate:hover{
    filter: invert(26%) sepia(36%) saturate(3890%) hue-rotate(224deg) brightness(94%) contrast(103%);
  
  }
  
  .filter-svg-violate:hover{
    filter: invert(26%) sepia(36%) saturate(3890%) hue-rotate(224deg) brightness(94%) contrast(103%);
  }
  
  label #sidebar_btn{
    color: #C5C7D3;
    position: fixed;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_cross{
    display: none;
  }
  
  label #sidebar_btn:hover{
    color: #673995;
  }
  
  #check:checked ~ .sidebar{
    right: 10px;
    width: 220px;
    background-image: linear-gradient(#8339DE,
    #3845D5);
  }
  
  #check:checked ~.sidebar label #sidebar_btn{
   display: none;
  }
  #check:checked ~.checkbox-input{
   display: none;
  }
  
  .sidebar .sidebar-link:hover{
   
   border-left: 5px solid #673995;
   
  }
  
  
  #check:checked ~.sidebar label #sidebar_cross{
   display: block;
   margin-left: -75px;
   color: white;
   position: fixed;
   font-size: 24px;
   cursor: pointer;
  
  }
  
  
  
  #check:checked ~.sidebar a span{
    display: block;
    font-size: 15px;
    
  }

  
  #check:checked ~ .sidebar .sidebar-link:hover{
    background-color: #673995;
    border-radius: 8px;
    width: 210px;
    color: white;
    
   
  }
  
  #check:checked ~.sidebar a{
    font-size: 20px;
    display: flex;
    padding-left: 15px;
    padding-right: 5px;
  
  }
  
  #check:checked ~.main-content{
    margin-left: 160px;
  }


 /* footer  */
.footer-section{
    background-color: #F7F8FA;
    width: auto;
}
.footer-d-block{
  background-color: #E8D5B5;
    width: 60px;
    height: 60px;
}

#check:checked ~.main-content .footer-d-block{
  width: 220px;
}

#check:checked ~.main-content a span{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  
}

#check:checked ~.main-content .footer-d-block a{
  display: flex;
  padding-left: 15px;
  padding-right: 5px;
  text-decoration: none;
  color: #444444;
}
.footer-copyright-text{
  padding-left: 40%;
}